:root {

    /* generative color pallette */
    --base-hue: 140;
    --saturation: 95%;
    --lightness: 80%;
    --rotation: 60;

}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
}

header,
footer {
    background-color: var(--light-color);
    height: 30px;
}