:root {
    /* --bg: 
    --spot1: #15012e;
    --spot2: */

    /* // overall gradient background color */
  --gradient_bg_color: #006dca; 

  /* // spot 1 - top left corner */
  --gradient_spot1_color: #001a39; 
  --gradient_spot1_w: 75%;
  --gradient_spot1_h: 75%;
  --gradient_spot1_x: 0%;
  --gradient_spot1_y: 0%;

  /* // spot 2 - top right corner */
  --gradient_spot2_color: #9b70ff; 
  --gradient_spot2_w: 75%;
  --gradient_spot2_h: 75%;
  --gradient_spot2_x: 100%;
  --gradient_spot2_y: 0%;

  /* // spot 3 - bottom right corner */
  --gradient_spot3_color: #42ffc6; 
  --gradient_spot3_w: 75%;
  --gradient_spot3_h: 75%;
  --gradient_spot3_x: 100%;
  --gradient_spot3_y: 100%;

  /* // spot 4 - bottom left corner */
  --gradient_spot4_color: #ff3b8d;
  --gradient_spot4_w: 75%;
  --gradient_spot4_h: 75%;
  --gradient_spot4_x: 0%;
  --gradient_spot4_y: 100%;
}

html {
    background-color: var(--gradient_spot1_color);
    margin: 0 auto;
}

body {
    max-width: 900px;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    background-color: rgb(207, 244, 242);
}


main {
    display: flex;
    flex-direction: row;
}

#sidebar {
    position: relative;
    flex: 1;
    background-color: var(--gradient_bg_color);
  background-image:
    radial-gradient(
      var(--gradient_spot1_w) var(--gradient_spot1_h)
      at left var(--gradient_spot1_x) top var(--gradient_spot1_y),
      var(--gradient_spot1_color),
      transparent
    ),
    radial-gradient(
      var(--gradient_spot2_w) var(--gradient_spot2_h)
      at left var(--gradient_spot2_x) top var(--gradient_spot2_y),
      var(--gradient_spot2_color),
      transparent
    ),
    radial-gradient(
      var(--gradient_spot3_w) var(--gradient_spot3_h)
      at left var(--gradient_spot3_x) top var(--gradient_spot3_y),
      var(--gradient_spot3_color),
      transparent
    ),
    radial-gradient(
      var(--gradient_spot4_w) var(--gradient_spot4_h)
      at left var(--gradient_spot4_x) top var(--gradient_spot4_y),
      var(--gradient_spot4_color),
      transparent
    );
}

#bg-img {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url("images/pride-dice.png");
    background-size: 85%;
    z-index: 1;
}

#logo-container {
    width: 100%;
    height: 20%;
    position: relative;
    top: 25%;
    background-color: rgba(207, 244, 242, 0.58);
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

img.logo {
    width: 30%;
    object-fit: scale-down;
}

#logo {
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5em;
    font-family: "Macondo";
}

#form-side {
    flex: 2;
    padding: 5%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-evenly;
}

#instructions>p {
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#fields {
    display: grid;
    grid-template-columns: 30% 70%;
    row-gap: 1rem;
    align-items: lefts;
    column-gap: 1rem;
    margin: 1.5em, 0, 1.2em, 0;
    width: 100%;
}

.label {
    font-size: .8rem;
    letter-spacing: .08rem;
}

#button-container {
    margin-top: 3rem;
}

#button-container>button {
    font-weight: bold;
    padding: .8rem 2.3rem;
    border-radius: 5px;
    border: transparent;
    margin-bottom: 1rem;
}